footer{
    background-color: var(--full-black);
    color: var(--white-lower);
}

.footer-items{
    justify-content: space-between;
    align-items: center;
}

.list-footer li{
    margin: 0 10px;
}

@media screen and (min-width:320px) and (max-width:640px){
    .footer-items{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width:641px) and (max-width:1023px){
    .footer-items{
        justify-content: space-around;
    }
}