.sobre{
    background-color:var(--gray-light);
}

.sobre .container{
    display: flex;
    justify-content: space-between;
}

.sobre .title-sobre{
    padding: 5px 0;
    margin: 15px auto;
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    position: relative;
    color: var(--white-lower);
}

.sobre .title-sobre::after{
    content: "";
    width: 100%;
    height: 5px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: skewX(-40deg);
}

.sobre .description-sobre{
    color: var(--white-lower);
}

.sobre .text-store{
    width: 45%;
}

.sobre .image-store{
    max-width: 50%;
}

.sobre .image-store img{
    width: 100%;
}

@media screen and (max-width:640px){
    .sobre .container{
        flex-direction: column;
        align-items: center;
    }

    .sobre .title-sobre{
        font-size: 12px;
    }
    
    .sobre .text-store{
        width: 100%;
        padding: 10px 15px;
    }
    
    .sobre .image-store{
        max-width: 100%;
        padding: 10px 15px;
    }
}

@media screen and (min-width:641px) and (max-width:1023px){
    .sobre .container{
        justify-content: space-around;
    }
}